
.description{
    font-size: 1.5em;;
}
.details {
    width: 50vw;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2.5em;
}

.details-content{
    height: 100vh;
    display: flex;
}

.details-title{
    font-size: 2.3em;
    margin-bottom: 2vh;
    text-transform: uppercase;
    font-weight:900;
}

.details-wrap {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.go-back-btn {
    align-self:flex-end;

}
/* .backdrop{
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    object-fit: fill;
} */

.movie-trailer{
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-content:center;
}

