/* --xiketic: #140100ff;
--gunmetal: #2c363fff;
--xanadu: #808f85ff;
--white: #ffffffff;
--honey-yellow: #f6ae2dff; */
* {
  margin: 0;
}

html{
  height: 100vh
}

body{
  background-color: #2c363fff;
  margin: 0;
  height: 100vh;
}

nav{
  display: flex;
  justify-content: center;
  height: 15vh;
  background-image: linear-gradient(#140100ff, #2c363fff);
  color: #FFF;
  text-align: center;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 2.5rem;;
  align-self: center;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3.5rem;

  }
}

main input {
  /* display: flex;
  justify-content: center; */
  /* align-items: ; */
  /* align-self: center; */
  margin-top:  20px;
  width:  30%;
  height: 40px;
  font-size: 22px;
  padding-left:10px; 
  margin-left: 33.3%;
  text-align: center;
  border-radius: 20px;
}
