/* --xiketic: #140100ff;
--gunmetal: #2c363fff;
--xanadu: #808f85ff;
--white: #ffffffff;
--honey-yellow: #f6ae2dff; */
* {
  margin: 0;
}

html{
  height: 100vh
}

body{
  background-color: #2c363fff;
  margin: 0;
  height: 100vh;
}

nav{
  display: flex;
  justify-content: center;
  height: 15vh;
  background-image: linear-gradient(#140100ff, #2c363fff);
  color: #FFF;
  text-align: center;
}

h1 {
/* font-family: 'Zen Tokyo Zoo', cursive; */
font-family: 'Monoton', cursive;
font-size: 3rem;;
align-self: center;
}
