.movie-card {
    font-family: 'Roboto Condensed', sans-serif;
    width: auto;
    box-sizing: border-box;
    padding: 10px;

}

img {
    width: 100%;
}

.card-title, 
.card-rating {
    margin: 0.1rem;
    font-size: 2rem;
    text-align: center;
    /* text-transform: uppercase; */
}

.title-rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128, 143, 133, .72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
}

.movie-card:hover{
    transform: scale(1.15);
}

.movie-card:hover .title-rating{
    visibility: visible;
    opacity: 1;
}