.video-responsive {
    /* overflow: hidden; */
    /* padding-bottom: 56.25%; */
    /* position: relative; */
    width: 50vw ;
    height: 100%; 
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; */
  }
  
  .video-responsive iframe {
    width: 50vw ;
    height: 100%; 
    /* left: 0; */
    /* top: 0;
    bottom: 0;
    right: 0;
    object-fit: contain;
    position: absolute; */
  }


  